.post_page {
    padding: 2rem 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
    h1 {
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 0;
      color: $teal;
    }
    small {
      display: block;
      text-align: center;
    }
    hr {
      margin: 2rem 0 4rem;
    }
   h2 {
     padding-top: 1rem;
     text-transform: capitalize;
   }
   blockquote {
     padding-left: 1rem;
     font-style: italic;
     border-left: 4px solid $teal;
     line-height: 1.20;
     font-size: 14px;
     color: $teal;
     font-weight: 500;
     text-align: justify;
   }
   p {
       text-align: justify;
     a {
       font-weight: 900 !important;
       color: $teal !important;
       text-decoration: none !important;
       transition: .25s all ease-in-out;
       border-bottom: 2px solid transparent !important;
       &:hover {
         color: gray !important;
         text-decoration: none;
         border-bottom: 2px solid gray !important;
       }
     }
   }
   &-footer {
     p {
       padding-top: 2rem;
       text-align: center;
       font-style: italic;
       font-size: 18px;
       width: 50%;
       margin: 0 auto;
       @media(max-width: 720px){
        width: auto;
      }
     }
     &--social {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          padding: 1rem .5rem 0;
          svg {
            height: 30px;
          }
          &.facebook {
            svg {
              fill: #1877F2;
            }
          }
          &.reddit {
            svg {
              fill: #FF4500;
            }
          }
          &.twitter {
            svg {
              fill: #1DA1F2;
            }
          }
          &.linkedin {
            svg {
              fill: #0A66C2;
            }
          }
        }
      }
     &--wyzant {
        background: $gray;
        color: $black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 60%;
        border-radius: 5px;
        margin: 2rem auto 0;
        @media(max-width: 720px){
          width: auto;
        }
        p {
          padding: 0 1rem 1rem;
          width: 100%;
          margin: 0;
          font-style: normal;
          strong{
            color: $teal;
            &:first-of-type {
              line-height: 2;
              font-size: 1.25rem;
              @media(max-width: 720px){
                font-size: 1.15rem;
              }
            }
          }
        }
        &-images {
          padding: 0 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
           img {
            height: 60px;
            width: auto;
            &:first-of-type {
              border-radius: 50%;
              height: 100px;
            }
          }
          span {
            font-weight: 100;
            font-size: 50px;
            background-color: $teal;
            color: transparent;
            text-shadow: 0px 0px .5px rgba(255,255,255,0.2);
            background-clip: text;
            padding-right: .75rem;
          }
        }
      }
   }
   article {
     code[class*="language-"],
  pre[class*="language-"] {
      color: #f92aad;
      text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
      background: none;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 1em;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
  
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
  
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
  }
  
  /* Code blocks */
  pre[class*="language-"] {
      padding: 1em;
      margin: .5em 0;
      overflow: auto;
  }
  
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
      background-color: transparent !important;
      background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
  }
  
  /* Inline code */
  :not(pre) > code[class*="language-"] {
      padding: .1em;
      border-radius: .3em;
      white-space: normal;
  }
  
  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
      color: #8e8e8e;
  }
  
  .token.punctuation {
      color: #ccc;
  }
  
  .token.tag,
  .token.attr-name,
  .token.namespace,
  .token.number,
  .token.unit,
  .token.hexcode,
  .token.deleted {
      color: #e2777a;
  }
  
  .token.property,
  .token.selector {
      color: #72f1b8;
      text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
  }
  
  .token.function-name {
      color: #6196cc;
  }
  
  .token.boolean,
  .token.selector .token.id,
  .token.function {
      color: #fdfdfd;
      text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
  }
  
  .token.class-name {
      color: #fff5f6;
      text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
  }
  
  .token.constant,
  .token.symbol {
      color: #f92aad;
      text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
  }
  
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.selector .token.class,
  .token.builtin {
      color: #f4eee4;
      text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
  }
  .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: unset !important; 
  }
  .token.string,
  .token.char,
  .token.attr-value,
  .token.regex,
  .token.variable {
      color: #f87c32;
  }
  
  .token.operator,
  .token.entity,
  .token.url {
      color: #67cdcc;
  }
  
  .token.important,
  .token.bold {
      font-weight: bold;
  }
  
  .token.italic {
      font-style: italic;
  }
  
  .token.entity {
      cursor: help;
  }
  
  .token.inserted {
      color: green;
  }
   }
  }