.bio_career {
    font-weight: 600;
    a {
        text-decoration: none;
        color: $teal;
        font-weight: bolder;
        &:hover {
            text-decoration: underline;
        }
    }
    strong, li {
        color: $teal;
        font-weight: bolder;
    }
    ul {
        column-count: 2;
    }
    .ps-4 {
        border-left: solid $teal 2px;
    }
    @media(max-width: 992px){
        text-align: center;
        .text-right {
            text-align: center;
        }
        ul {
            list-style: none;
            padding-left: 0;
        }
        .justify-content-start, .justify-content-end {
            justify-content: center !important;
        }
        .ps-4 {
            border-left: none;
        }
    }
}