.page_home {
    &-intro {
      padding: 2rem 2rem;
      height: 550px;
      display: flex;
      flex-direction: column;
      align-items: left;
      text-align: left;
      background-color: lightgray;
      @media(max-width: 1100px){
      padding: 2rem 2rem;
      height: 100%;
      }
      h1 {
        font-size: 3rem;
        color: teal;
        margin-bottom: 0;
        @media(max-width: 735px){
          margin: 0;
          width: 100%;
        }
        span {
          color: #303030;
          font-family: 'Open Sans', sans-serif;
          font-weight: 100;
          font-style: italic;
        }
      }
      &--body {
        margin-top: 1rem;
        padding-bottom: 2rem;
        width: 60%;
        @media(max-width: 1100px){
          width: 100%;
        }
      }
      &--tagline {
        padding-bottom: 1rem;
        font-size: 1.15rem;
        letter-spacing: .1rem;
      }
      &--quote {
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
    &-blog, &-portfolio{
      padding: 0 2rem 4rem;
      &--header {
        font-size: 2.5rem;
        text-align: center;
        color: teal;
      }
      &--posts {
        padding: 2rem;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media(max-width: 735px){
          padding: 2rem 0;
        }
      }
    }
    &-portfolio {
      background-color: lightgray;
      padding-top: 1rem;
    }
  }