header {
    width: 100%;
    border-bottom: 4px solid $gray;
    .navbar {
      padding: 1rem 2rem;
      li {
        display: flex;
        align-items: center;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .15rem;
        font-weight: 900;
        svg {
          height: 18px;
          margin-bottom: 4px;
          fill: rgba(0, 0, 0, 0.55);
          vertical-align: middle;
          &:first-of-type {
            margin: 0 .75rem 4px .5rem;
          }
          &:hover {
            fill: $teal !important;
          }
          @media(max-width: 992px){
            &:first-of-type {
              margin: .75rem 0 .75rem 0;
            }
          }
        }
        @media(max-width: 470px){
          font-size: 14px !important;
        }
        &.nav-link:hover {
          color: $teal !important;
        }
        &.active {
          color: $teal !important;
        }
      }
    }
  }