header {
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 99999999;
    background-color: lightgray;
    nav {
      height: 10vh;
      padding: 0 2rem;
      display:flex;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 735px){
        flex-direction: column;
        padding: 1rem 2rem;
        height: 6.5vh;
      }
      @media(max-width: 470px){
        font-size: 14px;
      }
      a {
        color: teal;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .15rem;
        font-weight: 900;
      }
    }
    .header_nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      &-item{
        display: inline;
        padding: 0 1rem;
        @media(max-width: 470px){
          padding: 0 .5rem;
        }
      }
    }
  }