header {
    width: 100%;
    border-bottom: 4px solid $gray;
    .navbar {
      padding: 1rem 2rem;
      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .15rem;
        font-weight: 900;
        @media(max-width: 470px){
          font-size: 14px !important;
        }
        &.nav-link:hover {
          color: $teal !important;
        }
        &.active {
          color: $teal !important;
        }
      }
    }
  }