.portfolio_preview {
    a {
      text-decoration: none;
    }
    &-card {
      width: 400px;
      margin: 2rem 0;
      border-radius: 15px;
      transition: all .2s ease;
      @media(max-width: 735px){
        margin: 0 auto;
        width: 100%;
      }
      &:hover {
        transform: scale(1.05);
        background-color: white;
        box-shadow: 25px 15px 0 0 rgba($color: teal, $alpha: .4);
      }
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 15px 15px 0 0 ;
      }
      &--body {
        padding: .5rem 1rem 2rem;
        h3 {
          font-size: 1.5rem;
          line-height: 1.25;
          a {
            color: teal;
            text-decoration: none;
          }
          margin-bottom: .75rem;
        }
        small {
          color: #303030;
        }
        p {
          margin-bottom: 2rem;
          color: #303030;
        }
      }
    }
  }