main {
    padding-top: 10vh;
  }
  body, html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:0;
    padding:0;
    background-color: whitesmoke;
    color: #303030;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
  }
  footer {
    background-color: teal;
    padding: 2rem;
    text-align: center;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    small {
      color: white;
      a {
        color: white;
        font-weight: 900;
        text-decoration: none;
      }
    }
  }
  .social {
    a {
      padding: 1rem;
      svg {
        height: 30px;
      }
      &.facebook {
        svg {
          fill: #1877F2;
        }
        span {
          color: #1877F2;
        }
      }
      &.reddit {
        svg {
          fill: #FF4500;
        }
        span {
          color: #FF4500;
        }
      }
      &.twitter {
        svg {
          fill: #1DA1F2;
        }
        span {
          color: #1DA1F2;
        }
      }
      &.linkedin {
        svg {
          fill: #0A66C2;
        }
        span {
          color: #0A66C2;
        }
      }
      &.github {
        svg {
          fill: #181717;
        }
        span {
          color: #181717;
        }
      }
    }
  }